@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main__wrapper {
  height: min(40em, 80%);
  width: min(25em, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: #a2d9e7;
  border-radius: 0.8em;
}
.main__wrapper h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}
.main__wrapper form {
  width: 80%;
}
.main__wrapper form input {
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  border: none;
}
.main__wrapper form input:focus {
  outline: none;
}
.main__wrapper .buttons {
  width: 80%;
}
.main__wrapper .buttons .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.main__wrapper .buttons .top button {
  display: block;
  width: 4em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
}
.main__wrapper .buttons .bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__wrapper .buttons .bot button {
  display: block;
  width: 5em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
}
.main__wrapper .buttons button {
  background-color: antiquewhite;
}
.main__wrapper .buttons button:hover {
  cursor: pointer;
  color: antiquewhite;
  background-color: #4980a0;
}
.main__wrapper .result-area {
  width: 80%;
  height: 15%;
}
.main__wrapper .result-area .result {
  font-weight: 700;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
.main__wrapper .result-area .result .per-1,
.main__wrapper .result-area .result .per-2 {
  width: 100%;
  display: block;
  margin-top: 0.5em;
}
.main__wrapper .result-area .result .per-1 {
  color: #8971bb;
}
.main__wrapper .result-area .result .per-2 {
  color: #ff53d5;
}
.main__wrapper .modal {
  position: absolute;
  width: min(30em, 100%);
  height: 35em;
  background-color: #ffed67;
  border-radius: 0.8em;
  display: none;
  align-items: center;
  justify-content: center;
}
.main__wrapper .modal .content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.main__wrapper .modal .content .close {
  position: absolute;
  top: 0;
  right: 0;
}
.main__wrapper .modal .content .close:hover {
  cursor: pointer;
  color: #ff4f5b;
}
.main__wrapper .modal .content__top, .main__wrapper .modal .content__bottom {
  width: 100%;
  height: 50%;
}
.main__wrapper .modal .content .content-title-t,
.main__wrapper .modal .content .content-title-b {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1em;
}
.main__wrapper .modal .content .content-val-t,
.main__wrapper .modal .content .content-val-b {
  display: block;
  width: 100%;
}

@media all and (max-width: 600px) {
  .modal {
    min-height: 100%;
  }

  form {
    min-width: 90%;
  }

  .buttons {
    min-width: 90%;
  }
}/*# sourceMappingURL=style.css.map */